{% import "./partials/json-ld.html" as jsonLd with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Divorce Coaching" />
    <link rel="manifest" href="/site.webmanifest" />

    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif %}

    <meta name="google-site-verification" content="hmHlDrSLisVW7Gg6rkO6VSK4SzIu5whY96XbZM9DWmI" />

    <title>
      {% if seoTitle %}
        {{ seoTitle }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ settings.seoTitle }}
      {% endif %}
    </title>

    <!-- If we're an article page -->
    {% if description %}
      <meta property="description" content="{{ description }}"/>
      <meta property="og:description" content="{{ description }}">
      <meta property="twitter:description" content="{{ description }}">
    {% else %}
      <meta property="description" content="{{ settings.description }}"/>
      <meta property="og:description" content="{{ settings.description }}">
      <meta property="twitter:description" content="{{ settings.description }}">
    {% endif %}

    <!-- If we're an article page -->
    {% if title %}
      <meta property="og:title" content="{{ title }}">
      <meta property="twitter:title" content="{{ title }}">
    {% else %}
      <meta property="og:title" content="{{ settings.title }}">
      <meta property="twitter:title" content="{{ settings.title }}">
    {% endif %}

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{ env.site }}/static/img/divorce-coaching.jpg">
    <meta property="og:image" content="{{ env.site }}/static/img/divorce-coaching.jpg">

    <!-- If we're an article page -->
    {% if type %}
      <meta property="og:type" content="article">
    {% else %}
      <meta property="og:type" content="{{ settings.type }}">
    {% endif %}

    <meta property="og:site_name" content="{{ settings.title }}">
    <meta property="twitter:site" content="{{ settings.title }}">
    <meta property="og:locale" content="en_GB">

    <link rel="canonical" href="{{ canonical }}" />

    {{ jsonLd.schema() }}

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    {% if env.isProd %}
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 500,
        });
        gtag('js', new Date());
        gtag('config', 'G-WGRXLNJQT5');
      </script>
    {% endif %}

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  </head>

  <body class="bg-white">  

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js" defer></script>

    {% if env.isProd %}

      {% include "./partials/cookie-consent.html" %}

      <script>
        const grantConsentButton = document.getElementById('grant-consent');

        grantConsentButton.addEventListener("click", function() {
          localStorage.setItem("consentGranted", "true");

          loadGtagScript();
        });

        if(localStorage.getItem("consentGranted")) {
          loadGtagScript();
        }

        function loadGtagScript() {
          function gtag() { dataLayer.push(arguments); }

          gtag('consent', 'update', {
            ad_user_data: 'granted',
            ad_personalization: 'granted',
            ad_storage: 'granted',
            analytics_storage: 'granted'
          });

          var gtagScript = document.createElement('script');
          gtagScript.defer = true;
          gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-WGRXLNJQT5';

          var firstScript = document.getElementsByTagName('script')[0];
          firstScript.parentNode.insertBefore(gtagScript,firstScript);
        }
      </script>
    {% endif %}
  </body>
</html>