---
layout: default
---

{% include "./partials/navbar.html" %}

<div class="container 2xl:max-w-6xl px-6 flex flex-col mt-6">

  <div class="w-full">

    <div class="pb-5 mb-5 border-b border-gray-100 flex flex-col md:flex-row md:justify-between">
      <h1 class="font-bold text-5xl text-left inline-block mb-5 md:mb-0">{{ title }}</h1>
      <a href="#booking-form-calendly" class="self-end inline md:block bg-[color:var(--primary-color)] text-white py-4 px-12 rounded-md hover:bg-[color:var(--primary-hover)]">Book now</a>
    </div>

    <!-- Highlight boxes -->
    {% if highlightsBoxes[0] %}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3 my-5 lg:mx-0 border-b border-gray-100 pb-5">
        {% for highlightsBox in highlightsBoxes %}
          <div class="bg-white border border-gray-200 rounded-md shadow flex flex-col">

            <div class="p-5 flex flex-col grow">
              {% if highlightsBox.title %}
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 pb-2 border-b border-gray-200">{{ highlightsBox.title }}</h2>
              {% endif %}

              {% if highlightsBox.highlightsListItem[0] %}
                <ul>
                  {% for highlight in highlightsBox.highlightsListItem %}
                    <li class="mb-3 last:mb-0 first:mt-3 font-normal text-gray-700 grow flex items-center">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="var(--primary-color)"
                          class="w-6 h-6"
                          width="24px"
                          height="24px">
                          <path
                            fill-rule="evenodd"
                            d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>

                      <span class="ml-2">{{ highlight.highlight }}</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <article class="prose mb-5 md:mt-12 max-w-none flex flex-col md:block">

      {{ content | safe }}

    </article>

  </div>

  <!-- Calendly -->	
  <section class="w-full">
    <iframe
      src="https://calendly.com/saradavison/practitioner-call?embed_domain=divorce-coaching.com&amp;embed_type=Inline&amp;hide_gdpr_banner=1&amp;background_color=f1f8f0&amp;text_color=040404&amp;primary_color=894a84&utm_source=arragon-affiliates&utm_content={{ title }}"
      width="100%"
      id="booking-form-calendly"
      height="100%"
      frameborder="0"
      loading="lazy"
      class="booking-form">
    </iframe>
  </section>
	
</div>
