{% set hero = collections.hero %}

<section class="content-center grow">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl text-white">{{ hero[0].data.title | safe }}</h1>
      <h2 class="text-xl font-extrabold sm:text-2xl">
        <strong class="font-extrabold text-[color:var(--light-blue)] sm:block"> {{ hero[0].data.description | safe }}. </strong>
      </h2>

      <p class="mt-4 sm:text-xl/relaxed text-white">{{ hero[0].data.introText | safe }}</p>

      <div class="mt-8 flex flex-wrap justify-center gap-4" x-data="">
        <button
          @click="document.getElementById('findOutMore').scrollIntoView({ behavior: 'smooth' })"
          class="block w-full rounded-md bg-[color:var(--light-blue)] px-12 py-3 text-sm font-medium text-[color:var(--primary-color)] shadow hover:opacity-70 focus:outline-none focus:ring sm:w-auto"
        >
          Get Started
        </button>

        <a
          class="block w-full rounded-md px-12 py-3 text-sm font-medium bg-white text-[color:var(--primary-color)] shadow hover:opacity-70 focus:outline-none focus:ring sm:w-auto"
          href="/book-a-free-call/"
        >
          Book a Free Call
        </a>
      </div>
    </div>
  </div>
</section>