@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

:root {
  --primary-color: #0b336f;
  --primary-hover: #08224a;
  --affiliate-color: #FFD814;
  --affiliate-hover: #F7CA00;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.container {
  @apply p-4 sm:p-5 md:p-6;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.booking-form {
	min-height: 1130px;
}

@media (min-width: 640px) {
	.booking-form {
		min-width: 400px;
	}
}

@media (min-width: 768px) {
	.booking-form {
		min-height: 1220px;
	}
}

@media (min-width: 1024px) {
	.booking-form {
		min-height: 1155px;
	}
}

@media (min-width: 1280px) {
	.booking-form {
		min-width: 500px;
	}
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }

@layer components {
  .container {
    @apply max-w-none sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }
}
