---
layout: default
path: home
type: home
---

<section class="min-h-dvh bg-[color:var(--primary-color)] flex flex-col">

  {% include "./_includes/partials/navbar.html" %}

  {% include "./_includes/components/hero.html" %}

</section>

<section id="findOutMore">
  <div class="container mx-auto flex flex-col justify-center items-center">

    {% include "./_includes/components/homepageSpiel.html" %}

    <!-- Product cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:mx-0">
    {% set productCardList = collections.productCard %}

      {% for productCard in productCardList | sort(false, true, 'data.order') %}
        {% include "./_includes/components/product-card.html" %}
      {% endfor %}
    </div>
  </div>
</section>
