{% macro bannerMacro() %}  
  <div class="bg-[color:var(--secondary-colour)]">
    <div class="lg:px-0 container mx-auto py-2">

      
        <div class="mx-auto flex flex-col justify-center items-center w-full">
          <section class="w-full">
            <div class="mx-auto">
              <div class="flex flex-wrap items-center gap-x-2 gap-y-2 justify-end">
                <p class="text-sm leading-6 text-gray-900 self-end">
                  <strong class="font-semibold align-bottom">Book a Free Discovery Call</strong>
                  <svg
                    viewBox="0 0 2 2"
                    class="mx-2 inline h-0.5 w-0.5 fill-current"
                    aria-hidden="true">
                    <circle
                      cx="1"
                      cy="1"
                      r="1"
                    />
                  </svg>
                </p>

                <a                  
                  href="/book-a-free-call/"
                  class="rounded-md cursor-pointer inline-block hover:opacity-80 bg-[color:var(--primary-color)] text-[color:var(--white)] py-1 px-3.5 !mb-0 text-sm font-semibold">
                  <div class="flex items-center pointer-events-none">Join now <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pl-1 size-5"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path></svg></div>
                </a>

              </div>   
            </div>     
          </section>     
          
        </div>
      
    </div>
  </div>
{% endmacro %}
